<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good Bye <%= @user.full_name %></h1>
    <p>
      Your account:<%= @user.email %> has been deleted by an admin.
      Thanks using rotten mangoes and have a great day!<br>
    </p>
  </body>
</html>

