<%= render partial: 'search'%>
<% @movies.each_slice(3) do |movie_slice| %>
  <div class="row">
  <% movie_slice.each do |movie| %>
    <%= render partial: 'movie', object: movie %>
  <% end %>
  </div>
<% end %>


