<h1>List of all users</h1>
<%= link_to "Create new user", new_admin_user_path %> 

<%= paginate @users %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>User management</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%#= render @users %>
      <%= render 'user', user: user %>
    <% end %>
  </tbody>
</table>

