<header class="header">
  <h1 class="headline">Rotten Mangoes</h1>
  <ul class="header-subnav">
    <li><a href="/">Movies</a></li>
    <li><%= link_to "Submit a movie!", new_movie_path %></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Profile</a></li>
  </ul>
</header>

